<!DOCTYPE HTML>
<!--
    Prologue by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Anne-Marie's Fine Jewelry</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <!-- <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/custom.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </head>
    <body>

        <!-- Header -->
            <div id="header">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <h1 class="cursive" id="title">Anne-Marie's</h1>
                            <h4 id="title">Fine Jewelry</h4>
                        </div>

                    <!-- Nav -->
                        <nav class="nav">
                            <!--

                                Prologue's nav expects links in one of two formats:

                                1. Hash link (scrolls to a different section within the page)

                                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                                2. Standard link (sends the user to another page/site)

                                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                            -->
                            <ul>
                                <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Home</span></a></li>
                                <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-info-circle">About</span></a></li>
                                <li><a href="#bridal" id="bridal-link" class="skel-layers-ignoreHref"><span class="icon fa-diamond">Bridal</span></a></li>
                                <li><a href="#designers" id="designers-link" class="skel-layers-ignoreHref"><span class="icon fa-users">Designers</span></a></li>
                                <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
                            </ul>
                        </nav>

                </div>

                <div class="bottom">

                    <!-- Social Icons -->
                        <ul class="icons">
                            <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
                            <li class="facebook-icon"><a href="https://www.facebook.com/Anne-Maries-Fine-Jewelry-Gifts-204639168988/" target="_blank" class="icon fa-facebook-official fa-lg"><span class="label">Facebook</span></a></li>
                            <!-- <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
                            <!-- <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li> -->
                            <!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
                        </ul>

                </div>

                <img src="images/lee.png" class="lee hidden-xs img">

            </div>

        <!-- Main -->
            <div id="main">

                <!-- Intro -->
                    <section id="top" class="one dark cover">
                        <div class="container">

                            <header class="cover">
                                <h1 class="cursive" id="title">Anne-Marie's</h1>
                                <h4 id="title">Fine Jewelry</h4>
                                <!-- <h2 class="alt lobster">Anne-Marie's Fine Jewelry</h2> -->
                                <!-- <p>Anne-Marie's is Stark County's original Pandora dealer, since 2001.<br />
                                We are a full service jewelry store offering diamonds and gemstones, remounts, gold and silver and expert repair.</p> -->

                               <nav class="nav">
                                <a href="#about" id="about-link" class="skel-layers-ignoreHref">
                                    <span class="scroll-arrow icon fa-arrow-circle-down"></span>
                                </a>
                                </nav>
                            </header>

                            <!-- <footer>
                                <a href="#about" class="button scrolly">Magna Aliquam</a>
                            </footer> -->

                        </div>
                    </section>

                <!-- about -->
                    <section id="about" class="two">
                        <div class="container">

                            <header>
                                <h2>About</h2>
                            </header>

                            <p>
                                Anne-Marie's Fine Jewelry was established in 2001 by owner Anne-Marie Beris. We are a full service jewelry store offering diamonds and gemstones, remounts, gold and silver, and expert repair. Our knowledgeable sales staff provides friendly customer service. We pride ourselves in being your neighborhood jewelry store, a store that truly cares about each of our customers. Check us out on <b><a href="https://www.facebook.com/Anne-Maries-Fine-Jewelry-Gifts-204639168988/" target="_blank">Facebook</a></b>.
                            </p>


                            <div class="row">
                                <div class="6u 12u$(mobile)">
                                    <header class="mb0">
                                        <h3>Hours</h3>
                                    </header>
                                    <div class="row">
                                        <div class="6u">
                                           <p class="hours-right">Sunday:</p>
                                           <p class="hours-right">Monday:</p>
                                           <p class="hours-right">Tuesday:</p>
                                           <p class="hours-right">Wednesday:</p>
                                           <p class="hours-right">Thursday:</p>
                                           <p class="hours-right">Friday:</p>
                                           <p class="hours-right">Saturday:</p>
                                        </div>

                                        <div class="6u">
                                            <p class="hours-left"><b>Closed</b></p>
                                            <p class="hours-left"><b>Closed</b></p>
                                            <p class="hours-left"><b>10:30am - 5:30pm</b></p>
                                            <p class="hours-left"><b>10:30am - 5:30pm</b></p>
                                            <p class="hours-left"><b>10:30am - 7:00pm</b></p>
                                            <p class="hours-left"><b>10:30am - 5:30pm</b></p>
                                            <p class="hours-left"><b>10:30am - 3:00pm</b></p>

                                        </div>
                                    </div>
                                </div>
                                <div class="6u 12u$(mobile)">
                                    <iframe width="100%" height="295px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=My%20Location&destination=4917%20W.%20Tuscarawas%20St.%20Canton%2C%20Ohio%2044708&key=AIzaSyDeqBdXGEaIqpEwlo9p1RcoanitC9Bq_Zc" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="row">
                                <div class="4u 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/about/necklace.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>1</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a class="image fit"><img src="images/pic03.jpg" alt="" /></a>
                                        <header>
                                            <h3>2</h3>
                                        </header>
                                    </article> -->
                                </div>
                                <div class="4u 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/about/pandora.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>3</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                                        <header>
                                            <h3>4</h3>
                                        </header>
                                    </article> -->
                                </div>
                                <div class="4u$ 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/about/angelica.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>Dolor Penatibus</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
                                        <header>
                                            <h3>Orci Convallis</h3>
                                        </header>
                                    </article> -->
                                </div>
                            </div>

                        </div>
                    </section>

                <!-- Bridal -->
                    <section id="bridal" class="three">
                        <div class="container">

                            <header>
                                <h2>Bridal</h2>
                            </header>

                            <a href="#" class="image featured"><img src="images/bridal/wedding_ring.jpg" alt="" /></a>

                            <p>We offer a large variety of engagement rings and wedding bands.  Check out our sneak peek of photos then stop in today to view our extensive collection!</p>
                            <div class="row">
                                <div class="4u 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/bridal/top_view_ring.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>1</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a class="image fit"><img src="images/pic03.jpg" alt="" /></a>
                                        <header>
                                            <h3>2</h3>
                                        </header>
                                    </article> -->
                                </div>
                                <div class="4u 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/bridal/side_view_ring.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>3</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a class="image fit"><img src="images/pic05.jpg" alt="" /></a>
                                        <header>
                                            <h3>4</h3>
                                        </header>
                                    </article> -->
                                </div>
                                <div class="4u$ 12u$(mobile)">
                                    <article class="item">
                                        <a class="image fit"><img src="images/bridal/groom_ring.jpg" alt="" /></a>
                                        <!-- <header>
                                            <h3>Dolor Penatibus</h3>
                                        </header> -->
                                    </article>
                                    <!-- <article class="item">
                                        <a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
                                        <header>
                                            <h3>Orci Convallis</h3>
                                        </header>
                                    </article> -->
                                </div>
                            </div>
                        </div>
                    </section>

                <!-- Bridal -->
                    <section id="designers" class="three">
                        <div class="container">

                            <header>
                                <h2>Featured Designers</h2>
                            </header>

                            <div class="row">
                                <div class="6u 12u$(mobile)">
                                    <article class="item">
                                        <a href="https://www.gabrielny.com/" target="_blank" class="image fit"><img src="images/designers/gabriel.jpg" alt="" /></a>
                                        <header>
                                            <h3>Established in 1989 in New York City</h3>
                                        </header>
                                    </article>
                                    <article class="item">
                                        <a href="http://www.luminar.com/" target="_blank" class="image fit"><img src="images/designers/luminar.jpg" alt="" /></a>
                                        <header>
                                            <h3>Founded in 1979, located in Burbank, California</h3>
                                        </header>
                                    </article>
                                    <article class="item">
                                        <a href="http://www.leoingwer.com/" target="_blank" class="image fit"><img src="images/designers/leo_ingwer.jpg" alt="" /></a>
                                        <header>
                                            <h3>Founded in 1939 by Leo Ingwer in New York City</h3>
                                        </header>
                                    </article>
                                </div>
                                <div class="6u 12u$(mobile)">
                                    <article class="item">
                                        <a href="http://www.gemeast.com/" target="_blank" class="image fit"><img src="images/designers/gemeast.png" alt="" /></a>
                                        <header>
                                            <h3>Quality Service and Value Since 1957</h3>
                                        </header>
                                    </article>
                                    <article class="item">
                                        <a href="http://angelicacollection.com/" target="_blank" class="image fit"><img src="images/designers/angelica.png" alt="" /></a>
                                        <header>
                                            <h3>A 35-year-old, 2nd generation family-owned company</h3>
                                        </header>
                                    </article>
                                    <article class="item">
                                        <a href="http://www.frankreubeldesigns.com/index.php" target="_blank" class="image fit"><img src="images/designers/frank_reubel.jpg" alt="" /></a>
                                        <header>
                                            <h3>Established in 1972, now located in Florida</h3>
                                        </header>
                                    </article>
                                    <article class="item">
                                        <a href="http://www.gottlieb-sons.com/" target="_blank" class="image fit"><img src="images/designers/gottlieb_sons.jpg" alt="" /></a>
                                        <header>
                                            <h3>Integrity, attention to detail, quality and craftsmanship since 1949.</h3>
                                        </header>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </section>

                <!-- Contact -->
                    <section id="contact" class="four">
                        <div class="container">

                            <header>
                                <h2>Contact</h2>
                            </header>

                            <p>Elementum sem parturient nulla quam placerat viverra
                            mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
                            donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
                            orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

                            <form method="post" action="#">
                                <div class="row">
                                    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                                    <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
                                    <div class="12u$">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="12u$">
                                        <input type="submit" value="Send Message" />
                                    </div>
                                </div>
                            </form>

                        </div>
                    </section>

            </div>

        <!-- Footer -->
            <div id="footer">

                <!-- Copyright -->
                    <ul class="copyright">
                        <li>&copy; Anne-Marie's Fine Jewelry. All rights reserved.</li><!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
                    </ul>

            </div>

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollzer.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="assets/js/main.js"></script>
            <script src="assets/js/sparkley.js"></script>
            <script src="assets/js/jquery.scrollTo.min.js"></script>

    </body>
</html>
